@model AML.Infrastructure.Data.EF.HOSPITAL

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HOSPITAL</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COUNTRY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COUNTRY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
