<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourceFilepath" value="C:\varun\MASTER KYC_Tonbella Testing_2017_10_24.xlsx"/>
    <add key="DeltaTargetFilePath" value="C:\varun\DeltaTargetfile\MASTER KYC_Tonbella Testing_2017_10_01.csv"/>
    <add key="DeltaextensionTargetFilePath" value="C:\varun\DeltaextensionTargetfile\MASTER KYC_Tonbella Testing_2017_10_01.csv"/>
    <add key="DJListSourceFile" value="C:\Users\jyp1510\Documents\TestData\MASTER KYC_Tonbella Testing_2017_10_24.xlsx"/>
    <add key="DJListWorksheetName" value="KYC_Master"/>
    <add value="INSTITUTE" key="1"/>
    <add value="CUSTNO" key="2"/>
    <add value="FIRST_NAME" key="KYC_Master_2"/>
    <add value="LASTNAME_COMPANYNAME" key="KYC_Master_1"/>
    <add value="STREET" key="4"/>
    <add value="ZIP" key="5"/>
    <add value="TOWN" key="Sheet_1"/>
    <add value="H_COUNTRY" key="7"/>
    <add value="CUSY" key="8"/>
    <add value="FK_CSMNO" key="9"/>
    <add value="PROFESSION" key="10"/>
    <add value="BRANCH" key="11"/>
    <add value="BIRTHDATE" key="12"/>
    <add value="CUSTCONTACT" key="13"/>
    <add value="EXEMPTIONFLAG" key="14"/>
    <add value="EXEMPTIONAMOUNT" key="15"/>
    <add value="ASYLSYN" key="16"/>
    <add value="SALARY" key="17"/>
    <add value="SALARYDATE" key="18"/>
    <add value="NAT_COUNTRY" key="19"/>
    <add value="TOT_WEALTH" key="20"/>
    <add value="CUST_TYPE" key="21"/>
    <add value="CUST_FLAG_01" key="22"/>
    <add value="PASS_NO" key="23"/>
    <add value="BIRTH_COUNTRY" key="24"/>
    <add value="BIRTH_PLACE" key="25"/>
    <add value="BORROWEYN" key="26"/>
    <add value="DIRECT_DEBITYN" key="27"/>
    <add value="GENDER" key="28"/>
    <add value="RISK_CLASS" key="29"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
